# Snippets for uni
# Layout for ML
snippet layout
	(* ML ASSESSED EXERCISES. TICK ${1:number} SUMISSION FROM L.A. BROWN *)
	(* Estimated time to complete: ${2:estimate}. Actual time: ${3:actual} *)
	$4
	
snippet problem
	(* PROBLEM ${1:number}. ${2:description} ... *)
	$3
