[submodule "vim/bundle/snipMate"]
	path = vim/bundle/snipMate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-taglist"]
	path = vim/bundle/vim-taglist
	url = git://github.com/mexpolk/vim-taglist.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vimclojure"]
	path = vim/bundle/vimclojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/vim-slime"]
	path = vim/bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "vim/bundle/slimv"]
	path = vim/bundle/slimv
	url = git://github.com/vim-scripts/slimv.vim.git
